.navContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    width: 100vw;
    height: 10vh;
    background-color: #12102b;
    margin-top: -1vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999;
    
    .Logo{
        color: #69fab4;
    }
}

.navlink_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;

    li{
        list-style-type: none;
        font-size: 1.3vw;
        
    }
}

.navlink{
    color: #ffff;
    font-size: 1.3vw;
    font-weight: 550;
    text-decoration: none;   
}

.navlink:hover{
    color: aqua;
}

.contactLink{
    width: 10vw;
    height: 5vh;
    border-radius: 2vw 0vh 2vw 0vh;
    background-color: #69fab4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    color: #000;
    font-size: 1.3vw;
    font-weight: 550;
    text-decoration: none;
}