.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:8%;
    padding-right:8%;
    background-color: #12102b;
    margin-top: -1vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999;
    
    .Logo{
        color: #69fab4;
    }
}

.navlink_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;

    li{
        list-style-type: none;
        font-size: 1.1vw;
        
    }
}

.navlink{
    color: #ffff;
    font-size: 1.1rem;
    font-weight: 550;
    text-decoration: none;   
}

.navlink:hover{
    color: aqua;
}

.contactLink{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    
    border-radius: 2vw 0vh 2vw 0vh;
    background-color: #69fab4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    color: #000;
    font-size: 1.1rem;
    font-weight: 550;
    text-decoration: none;
}